.banner {
  background: linear-gradient(to left, #252b49a9, #252b49ab),
    top/cover url(../images/banner-background.svg);
  padding: 230px 0 120px 0;
  text-align: center;

  &__title {
    font-family: "Raleway Bold";
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__text {
    color: white;
    font-weight: 400;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .banner {
    padding-top: 257px;
    &__title {
      font-size: 48px;
      margin-bottom: 61px;
    }
    &__text {
      margin-bottom: 90px;
      padding: 0 110px;
    }
  }
}

@media screen and (max-width: 630px) {
  .banner {
    padding: 106px 0 52px 0;

    &__title {
      font-size: 36px;
      padding: 0 3px;
    }
    &__text {
      padding: 0;
      text-align: center;
      margin-bottom: 50px;
    }
  }
}
