.banner {
  background: linear-gradient(to left, #252b49a9, #252b49ab),
    top/cover url(../images/banner-background.svg);
  padding: 230px 0 120px 0;
  text-align: center;

  &__title {
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__text {
    color: white;
    font-weight: 400;
    margin-bottom: 80px;
  }
}
