@import url(./header.scss);

@import url(./banner.scss);

@import url(./features.scss);

@import url(./works.scss);

@import url(./team.scss);

@import url(./testimonials.scss);

@import url(./download.scss);

@import url(./footer.scss);

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Raleway Bold";
  src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
  font-family: "Cardo";
  src: url(../fonts/Cardo-Italic.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // border: 1px solid red;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway";
  margin: 0;
}

h1 {
  font-size: 64px;
  font-weight: 900;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 700;
}
h4 {
  font-size: 24px;
  font-weight: 900;
}
h5 {
  font-size: 18px;
  font-weight: 400;
}
h6 {
  font-size: 14px;
  font-weight: 700;
}

img {
  display: block;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  width: 31.6%;
  min-width: 250px;
  height: 80px;
  color: white;
  background-color: #ff4343;
  border: none;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: #e71414;
  }
  &:active {
    background-color: #ff4343;
    box-shadow: 4px 4px 30px #ff4343;
  }
}

.column {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  &__card3 {
    width: calc(100% / 3);
  }

  &__card4 {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }
  .column {
    gap: 20px;
  }
}

@media screen and (max-width: 630px) {
  .column {
    flex-direction: column;
    align-items: center;
    &__card3 {
      width: 75%;
    }
    &__card4 {
      width: 75%;
    }
  }
}

@media screen and (max-width: 460px) {
  .container {
    padding: 0 20px;
  }

  .button {
    width: 100%;
  }
  .column {
    &__card3 {
      width: 100%;
    }
    &__card4 {
      width: 100%;
    }
  }
}
