.team {
  padding-top: 116px;
  img {
    width: 100%;
  }

  &__name {
    margin-top: 30px;
    font-family: "Raleway Bold";
    font-weight: 700;
    color: #2d3033;
  }

  &__job-title {
    margin-top: 10px;
    color: #ff4343;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 20px;
    color: #6c7279;
  }

  &__socials {
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
    height: 39px;
    gap: 5px;

    img {
      width: auto;
    }
  }
}

@media screen and (max-width: 1024px) {
  .team {
    &__socials {
      height: 32px;
    }
  }
}
