.testimonials {
  max-width: 1510px;
  margin: 114px auto 0 auto;

  input[type="radio"] {
    display: none;
  }

  &__slider {
    width: 100%;
    overflow: hidden;
  }

  &__inner {
    width: 400%;
    display: flex;
    transition: margin-left 0.8s ease-in-out;
  }

  &__content {
    display: flex;
    // justify-content: space-between;

    img {
      width: 100%;
    }
  }
  &__image {
    width: 50%;
  }

  &__story {
    display: flex;
    flex-direction: column;
    padding: 6% 3% 0% 5%;
    background-color: #5c3249;
    width: calc(100% / 2);
  }

  &__text {
    font-family: "Cardo";
    font-weight: 400;
    text-transform: capitalize;
    line-height: 49px;
    color: white;
  }

  &__name {
    padding-top: 10px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__dots {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;

    label {
      display: block;
      padding: 0;
      background-color: transparent;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      border: 1px solid #7e5d6f;
      cursor: pointer;
    }
  }
}

#testimonials1:checked ~ .testimonials__slider .testimonials__inner {
  margin-left: 0%;
}
#testimonials2:checked ~ .testimonials__slider .testimonials__inner {
  margin-left: -100%;
}
#testimonials3:checked ~ .testimonials__slider .testimonials__inner {
  margin-left: -200%;
}
#testimonials4:checked ~ .testimonials__slider .testimonials__inner {
  margin-left: -300%;
}

#testimonials1:checked ~ .testimonials__dots label:nth-child(1) {
  background-color: #7e5d6f;
}
#testimonials2:checked ~ .testimonials__dots label:nth-child(2) {
  background-color: #7e5d6f;
}
#testimonials3:checked ~ .testimonials__dots label:nth-child(3) {
  background-color: #7e5d6f;
}
#testimonials4:checked ~ .testimonials__dots label:nth-child(4) {
  background-color: #7e5d6f;
}

@media screen and (max-width: 830px) {
  .testimonials {
    &__story {
      padding: 3% 1% 1% 3%;
    }
    &__text {
      line-height: 25px;
    }
  }
}

@media screen and (max-width: 580px) {
  .testimonials {
    &__content {
      flex-direction: column;
    }
    &__image {
      width: 100%;
    }
    &__story {
      width: 100%;
    }
  }
}
