.works {
  padding-top: 116px;
  margin: 0 auto;
  max-width: 1510px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, auto);

  &__card {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
  }

  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    color: black;
    z-index: 100;
    background-color: #ff4343c9;
    transition: all 0.3s ease-in;
    cursor: pointer;
  }

  &__card:hover &__content {
    opacity: 1;
  }

  &__card:hover &__content:active {
    opacity: 1;
    background-color: rgba(185, 12, 12, 0.8);
  }

  img {
    object-fit: cover;
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  .works {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, auto);
  }
}
