html {
  max-width: 100%;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}
.item {
  display: flex;
  justify-content: space-between;
}

.pic {
  max-width: 25%;
  /* margin: 5px; */
}

img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 537px) {
  .item {
    flex-wrap: wrap;
  }
  .pic {
    max-width: calc(100% / 2);
  }
}
