.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../images/background-banner.png) no-repeat center top;
  background-position: center;
  background-size: cover;
  padding: 281px 0 185px 0;
}

.banner__content {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
  gap: 30px;
}

.banner__info {
  width: calc((100% / 12 * 7));
  max-width: calc((100% / 12 * 7));
}

.banner__logo {
  height: 100px;
}

.banner__logo img {
  padding-top: 10px;
  height: 55px;
}

.banner__title {
  font-family: "Raleway";
  font-weight: 500;
  line-height: 56px;
  color: white;
}

.banner__title::after {
  content: "";
  margin: 55px 0 42px 0;
  display: block;
  border-bottom: 1px solid white;
  width: 170px;
}

.banner__text {
  font-family: "Raleway";
  font-weight: 400;
  /* line-height: 22px; */
  color: white;
}

.banner__button {
  margin-top: 42px;
}
/* /////////////////////////////////////////////// */
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: calc(100% / 12 * 5);
  max-width: 470px;
  border-radius: 10px;
  text-align: center;
}

.form__container {
  display: flex;
  flex-direction: column;
  padding: 0 50px 75px 50px;
}

.form__title {
  padding: 30px 0 80px 0;
  font-family: "Open Sans";
  font-weight: 700;
  color: #333333;
}

.form__title_colored {
  color: #ec7979;
}

.form__registration {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.form__input {
  width: 100%;
  padding-bottom: 17px;
  height: 38px;
  border: none;
  font-family: "Open Sans";
  font-size: 14px;
  color: #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

.form__button {
  /* align-self: flex-end; */
  font-family: "Open sans";
  font-size: 15px;
  background-color: #ec7979;
  color: white;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.form__button:hover {
  border: none;
  background-color: #ab4949;
  color: white;
}

.form__button:active {
  border: none;
  background-color: #ec7979;
  box-shadow: inset 2px 2px 10px #ab4949;
}

@media screen and (max-width: 1024px) {
  .banner__info {
    padding-left: 100px;
  }

  .banner__title {
    font-size: 36px;
    line-height: 42px;
  }

  .banner__title::after {
    margin: 35px 0 35px 0;
  }

  .banner__button {
    margin-top: 31px;
  }

  .form {
    max-width: 398px;
  }

  .form__title_colored {
    font-size: 18px;
  }
}

@media screen and (max-width: 685px) {
  .banner {
    padding: 100px 0 75px 0;
  }
  .banner__content {
    flex-direction: column;
    align-items: center;
  }

  .banner__title::after {
    margin: 40px auto 40px auto;
  }
  .banner__info {
    padding: 0;
    text-align: center;
  }
  .form {
    width: 70%;
    min-width: 50%;
  }
}

@media screen and (max-width: 413px) {
  .banner__logo {
    display: none;
  }
  .banner__info {
    width: 100%;
    max-width: 100%;
  }
  .banner__title {
    width: 100%;
  }

  .banner__title::after {
  }

  .form {
    width: 100%;
  }
  .form__container {
    padding: 0 20px 50px 20px;
  }
}
