.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../images/background-banner.png) no-repeat center top;
  background-position: center;
  background-size: cover;
  height: 950px;
}

.banner__content {
  padding-top: 207px;
  display: flex;
  justify-content: space-between;
  /* align-self: start; */
  gap: 30px;
}

.banner__info {
  max-width: 670px;
}

.banner__logo {
  height: 100px;
}

.banner__logo img {
  padding-top: 10px;
  height: 55px;
}

.banner__title {
  font-family: "Raleway";
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: white;
}

.banner__title::after {
  content: "";
  margin: 55px 0 42px 0;
  display: block;
  border-bottom: 1px solid white;
  width: 170px;
}

.banner__text {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  /* line-height: 22px; */
  color: white;
}

.banner__button {
  margin-top: 42px;
  width: 270px;
  height: 60px;
  font-family: "Open sans";
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  color: white;
  padding: 18px 95px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.2s;
}

.banner__button:hover {
  color: #ec7979;
  border: 2px solid #ec7979;
}

.banner__button:active {
  background-color: #ab4949;
  color: white;
  border: 2px solid #ab4949;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  max-width: 470px;
  height: 450px;
  border-radius: 10px;
}

.form__container {
  margin: 0 auto;
  text-align: center;
  padding: 0 50px 40px 50px;
}

.form__title {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 90px;
  color: #333333;
}

.form__title_colored {
  color: #ec7979;
}

.form__container input {
  margin-top: 34px;
  width: 370px;
  height: 38px;
  border: none;
  font-family: "Open Sans";
  font-size: 14px;
  color: #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

.form__button {
  /* align-self: flex-end; */
  font-family: "Open sans";
  font-size: 15px;
  background-color: #ec7979;
  color: white;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
