.contact {
  padding: 100px 0 50px 0;
  /* text-align: center; */
}

.contact__review {
  display: flex;
  justify-content: space-between;
  padding-top: 89px;
  gap: 30px;
}

.contact__registration {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: calc(100% / 2);
}

.contact__input {
  max-width: 100%;
  height: 38px;
  border: none;
  font-family: "Open Sans";
  font-size: 14px;
  color: #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

.contact__message {
  width: calc(100% / 2);
  border: none;
  border-bottom: 1px solid #bdbdbd;
  resize: none;
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  max-height: 100%;
}

.contact__message:focus {
  outline: none;
}

.contact__button {
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: 413px) {
  .contact__review {
    flex-direction: column;
    gap: 50px;
  }

  .contact__registration {
    width: 100%;
  }
  .contact__message {
    width: 100%;
    height: 200px;
  }
}
