.customers {
  padding: 110px 0 64px 0;
}

.customers__cards {
  margin-top: 83px;
}

.customers__comment {
  position: relative;
  background: #e2e2e2;
  padding: 38px 25px;
  border-radius: 10px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  color: #86878b;
}

.customers__text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  color: #86878b;
}

.customers__comment::after {
  position: absolute;
  content: " ";
  top: 100%;
  left: 20%;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #e2e2e2;
}

.customers__profile {
  display: flex;
  margin-top: 66px;
  gap: 30px;
}

.customers__info {
  width: 80%;
  text-align: left;
}

.customers__name {
  margin-top: 15px;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.customers__job-title {
  margin-top: 15px;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: normal;
}

.customers__logo {
  width: 20%;
  align-self: center;
}

.customers__logo > img {
  display: block;
}

@media screen and (max-width: 1024px) {
  .customers__text {
    font-size: 14px;
  }

  .customers__name {
    font-size: 18px;
  }

  .customers__job-title {
    font-size: 14px;
  }
}

@media screen and (max-width: 795px) {
  .customers__profile {
    flex-direction: column;
    gap: 0;
  }
}
