.customers {
  padding: 110px 0 64px 0;
}

.customers__cards {
  margin-top: 83px;
  width: 100%;
  overflow: hidden;
}

.customers__inner {
  margin-top: 83px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
}

.customers__comment {
  position: relative;
  background: #e2e2e2;
  padding: 38px 25px;
  border-radius: 10px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  color: #86878b;
}

.customers__text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  color: #86878b;
}

.customers__comment::after {
  position: absolute;
  content: " ";
  top: 100%;
  left: 20%;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #e2e2e2;
}

.customers__profile {
  display: flex;
  margin-top: 66px;
  gap: 30px;
}

.customers__info {
  width: 80%;
  text-align: left;
}

.customers__name {
  margin-top: 15px;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.customers__job-title {
  margin-top: 15px;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: normal;
}

.customers__logo {
  width: 20%;
  align-self: center;
}

.customers__logo > img {
  display: block;
}

.customers__dots label {
  display: none;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #86878b;
}
#customers1:checked ~ .customers__dots label:nth-child(1),
#customers2:checked ~ .customers__dots label:nth-child(2),
#customers3:checked ~ .customers__dots label:nth-child(3) {
  background-color: #86878b;
}

@media screen and (max-width: 795px) {
  .customers__profile {
    flex-direction: column;
    gap: 0;
  }
  .customers__name {
    font-size: 18px;
  }
  .customers__logo {
    width: 80%;
  }
}

@media all and (max-width: 530px) {
  #customers1:checked ~ .customers__cards .customers__inner {
    margin-left: 0%;
  }
  #customers2:checked ~ .customers__cards .customers__inner {
    margin-left: -100%;
  }
  #customers3:checked ~ .customers__cards .customers__inner {
    margin-left: -200%;
  }

  .customers__inner {
    width: 300%;
    gap: 0;
    transition: margin-left 0.8s ease-in-out;
  }

  .customers__dots {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .customers__profile {
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
  }
  .customers__logo {
    max-width: 60px;
  }

  .customers__logo img {
    width: 100%;
  }
  .customers__name {
    font-size: 14px;
    font-weight: 900;
  }
  .customers__dots label {
    display: block;
  }
  .customers__item {
    padding: 1px;
  }
}
