.design {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../images/background-design.png) no-repeat center top;
  background-position: center;
  background-size: cover;
  height: 442px;
  text-align: center;
}

.design__title {
  padding-top: 50px;
  font-family: "Raleway";
  color: white;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 150px;
  font-weight: 400;
}

.design__title::after {
  content: "";
  display: block;
  border-bottom: 1px solid white;
  width: 170px;
  margin: auto;
  margin-top: -1px;
}

.design__text {
  font-family: "Raleway";
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
}

.design__button {
  margin-top: 73px;
  width: 370px;
  height: 58px;
  font-family: "Open sans";
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  color: white;
  padding: 18px 95px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.2s;
}

.design__button:hover {
  color: #ec7979;
  border: 2px solid #ec7979;
}

.design__button:active {
  background-color: #ab4949;
  color: white;
  border: 2px solid #ab4949;
}
