.design {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../images/background-design.png) no-repeat center top;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 110px 0 50px 0;
}

.design__button {
  margin-top: 73px;
}
