.footer {
  background: black;
}

.footer__content {
  text-align: center;
}

.footer__socials {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% / 12 * 5);
  padding: 35px 0 27px 0;
}

.footer__text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  color: white;
  padding-bottom: 27px;
}

.svg {
  /* width: 35px; */
  margin: 0 10px;
  min-width: 32px;

@media screen and (max-width: 1024px) {
  .footer__socials {
    gap: 25px;
  }
}
