.header {
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  transition: all 0.3s;
}

.header__logo {
  z-index: 5;
}

.header__logo img {
  height: 31px;
}

.header__link {
  font-family: "Open Sans";
  display: block;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  padding: 24px 18px;
  height: fit-content;
  transition: all 0.5s ease-in;
}

.header__menu {
  display: flex;
}

.header__menu li {
  list-style: none;
  display: block;
  width: 100%;
  text-align: center;
}

.header__link:hover {
  background-color: #ec7979;
}
.header__link:active {
  background-color: #ab4949;
}
.header__link:visited {
  color: white;
}

.header__link:link {
  color: white;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.header__navigation input:checked ~ .header__menu {
  top: 0px;
  padding-top: 60px;
}

.header input[type="checkbox"] {
  display: none;
}

.toggle-menu {
  display: none;
  z-index: 5;
}

@media screen and (max-width: 639px) {
  .header__link {
    padding: 24px 5px;
  }
}

@media screen and (max-width: 455px) {
  .header__content {
    height: 56px;
  }

  .header__navigation {
    justify-content: flex-end;
  }

  .toggle-menu {
    display: block;
  }

  input[type="checkbox"]:checked ~ .header__navigation {
    display: inline-block;
  }
  .header__menu {
    position: fixed;
    height: 574px;
    background-color: black;
    top: -574px;
    right: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transition: all 0.3s;
  }
}
