.header {
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header__logo img {
  height: 31px;
}

.header__menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.header__item {
  font-family: "Open Sans";
  width: 10%;
  max-width: 114px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  height: 75px;
  align-self: center;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}

.header__item a {
  position: absolute;
  color: white;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header__item:hover {
  background-color: #ec7979;
}

.header__item:active {
  background-color: #ab4949;
}
