.socials {
  background-color: #f8efef;
}

.socials__content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.socials__info {
  width: calc(100% / 12 * 5);
}

.socials__icons {
  display: flex;
  justify-content: space-between;
  width: calc(100% / 12 * 7);
  align-items: center;
}

.socials__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 60px;
}

.socials__text {
  margin: 17px 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
}

.socials__icons svg {
  margin: 0 3px;
}

@media screen and (max-width: 1024px) {
  .socials__title {
    line-height: 50px;
  }
}

@media all and (max-width: 685px) {
  .socials {
    padding: 30px 0;
  }
  .socials__content {
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }
  .socials__info {
    width: 80%;
  }
  .socials__icons {
    width: 80%;
  }
}

@media all and (max-width: 413px) {
  .socials__info {
    width: 100%;
  }
}
