@import url("header.css");

@import url("banner.css");

@import url("socials.css");

@import url("tabs.css");

@import url("awesome.css");

@import url("price.css");

@import url("customers.css");

@import url("design.css");

@import url("contact.css");

@import url("footer.css");

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/open-sans.woff2);
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway-v28-latin_cyrillic-regular.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: 1px solid red; */
}

body {
  width: 100%;
  margin: 0 auto;
  background: white;
}

a {
  text-decoration: none;
}

img {
  /* width: 100%; */
  height: auto;
}
input {
  border: none;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #bdbdbd;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.registration {
  display: flex;
  flex-direction: column;
  gap: 34px;
  width: 100%;
}

.section-title {
  text-align: center;
}

.section-title__title {
  font-family: "Raleway";
  color: #000000;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 400;
}

.section-title__title::after {
  content: "";
  display: block;
  padding-top: 60px;
  border-bottom: 1px solid #ec7979;
  width: 170px;
  margin: auto;
}

.section-title__title_white {
  color: white;
}

.section-title__title_white::after {
  border-bottom: 1px solid white;
}

.section-title__text {
  margin-top: 40px;
  font-family: "Raleway";
  color: #86878b;
  font-size: 18px;
  font-weight: 400;
}

.section-title__text_white {
  color: white;
}

.column {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
}

.column__card {
  width: calc(100% / 3);
  /* padding: 0 15px; */
}

/* Buttons */
.button {
  width: 270px;
  height: 58px;
  font-family: "Open sans";
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  color: #ec7979;
  border: 2px solid #ec7979;
}

.button:active {
  background-color: #ab4949;
  color: white;
  border: 2px solid #ab4949;
}

.button_colored {
  border: none;
  background-color: #ec7979;
}

.button_colored:hover {
  border: none;
  background-color: #ab4949;
  color: white;
}

.button_colored:active {
  border: none;
  background-color: #ec7979;
  box-shadow: inset 2px 2px 10px #ab4949;
}

.button_wide {
  width: 370px;
}

@media all and (max-width: 1024px) {
  .section-title__title {
    font-size: 24px;
  }

  .section-title__title::after {
    padding-top: 50px;
  }

  .section-title__text {
    margin-top: 32px;
    font-size: 14px;
  }

  .column {
    gap: 20px;
  }
}
