@import url("tabs.css");

@import url("awesome.css");

@import url("price.css");

@import url("customers.css");

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/open-sans.woff2);
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway-v28-latin_cyrillic-regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
