input[type="radio"] {
  display: none;
}

.tabs {
  margin: 100px auto 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.tabs > label {
  display: inline-block;
  width: 15.7%;
  padding: 8px 16px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 1px;
}

.tabs__image {
  width: calc(100% / 12 * 5);
}

.tabs__image > img {
  /* float: left; */
  display: block;
  width: 100%;
  /* object-fit: contain; */
}

.tabs > div {
  display: none;
}

.tabs__content {
  display: flex;
  justify-content: space-between;
  border: 1px solid #c6cbcd;
  gap: 30px;
}

.tabs__info {
  width: calc(100% / 12 * 7);
  padding: 0 30px 0 100px;
}

.tabs__title {
  font-family: "Open Sans";
  font-weight: 700;
  padding: 42px 0;
}

.tabs__text {
  font-family: "Raleway";
  font-weight: 400;
}

.tabs__button {
  margin-top: 27px;
}

#tab-btn-1:checked ~ .tabs__checked1,
#tab-btn-2:checked ~ .tabs__checked2,
#tab-btn-3:checked ~ .tabs__checked3 {
  display: block;
}

.tabs > input[type="radio"]:checked + label {
  width: 17.5%;
  background-color: #fff;
  border: 1px solid #c6cbcd;
  border-bottom: 1px solid white;
  border-radius: 10px 10px 0 0;
}
/* .tabs > label:not(:first-of-type) {
  margin-left: -5px;
} */

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 831px) {
  .tabs__title {
    padding: 20px 0;
  }

  .tabs__info {
    padding: 0 10px 0 30px;
  }
}

@media screen and (max-width: 560px) {
  .tabs__info {
    padding: 0 15px;
    width: 100%;
    text-align: center;
  }
  .tabs__image {
    display: none;
  }
}

@media screen and (min-width: 414px) and (max-width: 560px) {
  .tabs > label {
    width: 30%;
  }
  .tabs > input[type="radio"]:checked + label {
    width: 30%;
  }
}

@media screen and (max-width: 413px) {
  .tabs > label {
    width: calc(100% / 3);
    top: 1.5px;
  }
  .tabs > input[type="radio"]:checked + label {
    width: calc(100% / 3.27);
  }
}
