@font-face {
  font-family: "Open Sans";
  src: url(../fonts/open-sans.woff2);
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway-v28-latin_cyrillic-regular.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid green; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  background-color: #f5f5f5;
}

.price__title {
  font-family: "Raleway";
  color: #000000;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 150px;
  font-weight: 400;
}

.price__title::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ec7979;
  width: 170px;
  margin: auto;
  margin-top: -1px;
}

.price__text {
  font-family: "Raleway";
  color: #86878b;
  font-size: 18px;
  margin-top: 40px;
  font-weight: 400;
}

.container__options {
  margin-top: 79px;
  padding-bottom: 50px;
}

.options {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.options__card {
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.options__card > div {
  margin: 1px 0;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #86878b;
  /* background-color: #ffffff; */
  height: 48px;
}

.xx {
  position: relative;
  bottom: 20px;
  box-shadow: 0 2px 2px 2px #9e9fa34f;
}

.options__type,
.options__price,
.option__duration {
  background: #333333;
}
.options__price {
  height: 100px;
  line-height: 100px;
}
