@font-face {
  font-family: "Open Sans";
  src: url(../fonts/open-sans.woff2);
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway-v28-latin_cyrillic-regular.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid green; */
}

.wrapper {
  width: 100%;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.price__title {
  padding-top: 50px;
  font-family: "Raleway";
  color: #000000;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 150px;
  font-weight: 400;
}

.price__title::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ec7979;
  width: 170px;
  margin: auto;
  margin-top: -1px;
}

.price__text {
  font-family: "Raleway";
  color: #86878b;
  font-size: 18px;
  margin-top: 40px;
  font-weight: 400;
}

.container__options {
  margin-top: 79px;
  padding-bottom: 50px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.options__card {
  flex-basis: 370px;
  position: relative;
  bottom: 0;
  transition: all 1s ease 0s;
}

.options__card:hover {
  box-shadow: 0 4px 4px 4px #b9b5b5;
  bottom: 20px;
}

.options__item {
  margin: 2px 0;
  background-color: white;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: normal;
  height: 50px;
  line-height: 50px;
  color: #86878b;
}

.options__item:first-child {
  margin-top: 0;
}
.options__item:last-child {
  margin-bottom: 0;
}

.options__type,
.options__price,
.options__duration {
  background-color: #333333;
  font-family: "Open Sans";
}

.options__type {
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: Bold;
  color: white;
}

.options__price {
  font-family: "Raleway";
  height: 100px;
  line-height: 100px;
  font-size: 36px;
  font-weight: Bold;
  color: white;
}

.options__duration {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 400;
  color: #f5f5f5;
}
