.banner {
  padding-top: 177px;
  background: linear-gradient((#f38381be), (#f4bf87)),
    url(../images/banner-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // height: 100vh;
  text-align: center;
}
