.header {
  position: fixed;
  width: 100%;
  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  &__logo {
    width: 100%;
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__navigation {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .icon path {
    fill: white;
    transition: all 0.3s linear;
  }
  .icon:hover path {
    fill: $red;
  }
}

.links {
  @include font-setting($Raleway, 14px, 600, 16px);
  padding-bottom: 5px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  width: 86px;
  margin-left: 20px;
  text-align: center;
  transition: all 0.3s linear;
}

.links:hover {
  color: $orange;
  box-shadow: 0px 4px $orange;
}

.icon {
  margin-left: 35px;
}
