@import url(./variables.scss);

@import url(../fonts/fonts.scss);

@import url(./header.scss);

@import url(./banner.scss);

*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  border: 1px solid red;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
