@import "variables";

@import "../fonts/fonts.scss";

@import "header";

@import "banner";

*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  border: 1px solid red;
  box-sizing: border-box;
}

// h1,
// h2,
// h3,
// h4,
// h5 {
//   font-family: "Raleway";
//   margin: 0;
// }

// h1 {
//   font-size: 144px;
//   font-family: $Montserrat;
//   line-height: 175px;
//   font-weight: 700;
//   color: $white;
//   text-transform: uppercase;
// }

// h2 {
//   font-size: 36px;
//   font-weight: 700;
// }

// h3 {
//   font-size: 30px;
//   font-weight: 700;
// }
// h4 {
//   font-size: 24px;
//   font-weight: 900;
// }
// h5 {
//   font-size: 18px;
//   font-weight: 400;
// }
// h6 {
//   font-size: 14px;
//   font-weight: 700;
// }

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  font-size: 24px;
  color: $black;
  text-transform: uppercase;
  line-height: 28px;

  &__subtitle {
    font-size: 24px;
    font-family: $Kaushan;
    line-height: 35px;
    color: $black;

    &_large {
      font-size: 48px;
      line-height: 70px;
    }
  }

  &_large {
    font-size: 144px;
    line-height: 117px;
    padding: 33px auto;
    &:after {
      margin-top: 29px;
      content: " ";
      display: block;

      border-bottom: 4px solid white;
      width: 100%;
      max-width: 170px;
      background-color: $white;
      margin: 29px auto 0 auto;
    }
  }
}

.column {
}
