$white: rgb(255, 255, 255);
$red: #f38281;
$yellow: #f9efcf;
$orange: #f4bf87;
$aqua: #95e1d3;
$black: #2d3033;
$gray: #c6cbcd;
$Montserrat: "Montserrat", sans-serif;
$Kaushan: "Kaushan Script", cursive;
$OpenSans: "Open Sans", sans-serif;
$Raleway: "Raleway", sans-serif;
